In [1]:
#import dependency
import pandas as pd

In [3]:
#read in csv exported from pgadmin
vine_df = pd.read_csv('vine_table.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y

In [9]:
#total_votes count is equal to or greater than 20
vine_votes = vine_df[vine_df['total_votes']>=20]
vine_votes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [17]:
#helpful_votes divided by total_votes is equal to or greater than 50%
vine_helpful_total_votes = vine_votes[vine_votes['helpful_votes']/vine_votes['total_votes']>=0.5]
vine_helpful_total_votes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [42]:
#review was written as part of the Vine program (paid)
vine_paid = vine_helpful_total_votes[vine_helpful_total_votes['vine']=='Y']
vine_paid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8547,R3A71VR1JZD8WF,2.0,27.0,30.0,Y,N
10246,R16OMUJIGI18JZ,5.0,72.0,72.0,Y,N
25168,R3TS8ZP2FHQ9XR,5.0,39.0,42.0,Y,N
46422,R2MHP919VZN7DI,5.0,29.0,30.0,Y,N
66446,RD2BCTVS59A5L,2.0,20.0,20.0,Y,N

In [43]:
#review was not part of the Vine program (unpaid)
vine_unpaid = vine_helpful_total_votes[vine_helpful_total_votes['vine']=='N']
vine_unpaid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [60]:
#paid total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews
paid_count=len(vine_paid)
paid_fivestar_count = len(vine_paid[vine_paid['star_rating']==5.0])
paid_five_star_percentage = round(paid_fivestar_count/paid_count * 100,2)
#paid_five_star_percentage

In [61]:
#unpaid total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews
unpaid_count=len(vine_unpaid)
unpaid_fivestar_count = len(vine_unpaid[vine_unpaid['star_rating']==5.0])
unpaid_five_star_percentage = round(unpaid_fivestar_count/unpaid_count * 100,2)
#unpaid_five_star_percentage

In [62]:
print(f'There were a total of {paid_count} Vine reviews and {unpaid_count:,} non-Vine reviews.')

There were a total of 170 Vine reviews and 37,840 non-Vine reviews.

In [63]:
print(f'There were a total of {paid_fivestar_count} Vine reviews that were 5-stars and {unpaid_fivestar_count:,} non-Vine Reviews that were 5-stars.')

There were a total of 65 Vine reviews that were 5-stars and 20,612 non-Vine Reviews that were 5-stars.

In [59]:
print(f'The percentage of Vine reviews that were 5-stars was {paid_five_star_percentage}%. The percentage of non-Vine reviews that were 5-stars was {unpaid_five_star_percentage}%.')

The percentage of Vine reviews that were 5-stars was 38.24%. The percentage of non-Vine reviews that were 5-stars was 54.47%.